@charset "utf-8";
/* CSS Document */


@font-face {
    font-family: 'IstokWebRegular';
    src: url('font/IstokWeb-Regular-webfont.eot');
    src: url('font/IstokWeb-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/IstokWeb-Regular-webfont.woff') format('woff'),
         url('font/IstokWeb-Regular-webfont.ttf') format('truetype'),
         url('font/IstokWeb-Regular-webfont.svg#IstokWebRegular') format('svg');
    font-style: bold;

}


@font-face {
    font-family: 'TendernessRegular';
    src: url('font/Tenderness-webfont.eot');
    src: url('font/Tenderness-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/Tenderness-webfont.woff') format('woff'),
         url('font/Tenderness-webfont.ttf') format('truetype'),
         url('font/Tenderness-webfont.svg#TendernessRegular') format('svg');
    font-weight: 500;
    font-style: bold;

}




body {
	margin:0 auto;
	padding:0;
	
	
}


#container {
	
	
	background:url(../images/bg.png) repeat;
	
	
	margin-bottom:60px;
	
	
	
}

#header {
	background:url(../images/bg.png) repeat;
	text-align:left;
	padding:1px;
	color:#1f4a83;
}

.logout {
	text-align : left;
	padding-left : 20px;
}

.logout a {
	 color:#b2b4b7;
}

#menu {

 overflow: auto;

 
}
.active {
  background:#6d7784;
	  color:#b2b4b7;
}

#content {
	background:#fcfcfb ;
}



.home {
	height : 250px;
}

.judul {
	font-size:34px;
	font-family: 'TendernessRegular';
	color:#dcdfe3 ;
	padding:10px;
}

.judul2 {
	font-size:28px;
	font-family: 'TendernessRegular';
	color:#dcdfe3 ;
}



#submit{
	margin-top:4px; margin-left:41px; margin-bottom:7px; margin-right:2px;
}

#next{
	margin-top:4px; margin-left:41px; margin-bottom:7px; margin-right:2px;
}



.clear {
	clear:both;
}



.nav {
	padding-top:15px;
	padding-left:10px;
}

.nav li {
	list-style:none;
	display:block;
	float: left;
	padding-right:10px;
}

.nav li a {
	background:#b2b4b7;
	padding:10px;
	text-decoration:none;
	color:#000000;
	font-size:14px;
	font-family: 'IstokWebRegular';
}

.nav li ul {
	padding-left:0px;
	margin-top:5px;
	position:absolute;
}

.nav li ul li {
	float:none;
	border-bottom:1px solid #9b9da0;
	padding-top:5px;
	padding-bottom:5px;
	background:#6d7784;
	width:150px;
	color:#b2b4b7;
	
}
.nav li ul li a {
	padding:0;
	display:block;
	background:none;
	padding-left:5px;

}
.active li ul li a {
 background: #1f3c52;
}
#nav li {
  list-style:none;
	display:block;
	float: left;
	padding-right:10px;
}






/* atribut */

.border {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	 border-radius: 3px;
}

.link:hover {
		-webkit-transition: background 2s ease;
		-moz-transition: background 2s ease;
        -ms-transition: background 2s ease;
        -o-transition: background 2s ease;
		transition: background 2s ease;
}

.linkback:hover {
	  background:#6d7784;
	  color:#b2b4b7;
}

.li:hover {
	  color:#004a80;
}




/* FORM dan TABEL */

.form {
	padding:20px;
}

.input {
	width :300px;
}

.form hr {
	border:1px solid #1f4a83;
}

.tabel 
{
	border-collapse:collapse;
	margin-top:10px;
	width:100%;
}

.tabel thead {
	background:#CCCCCC;
}

.tabel td 
{
	border-collapse:collapse;
	border:1px solid;
	padding:4px;
	 font-family: 'IstokWebRegular';
	 font-size:20px;
	 vertical-align:top;
}

.head {
	font-family: 'IstokWebRegular';
	font-size:16px;
	border-bottom:2px solid #6D7784;
	padding:5px;
	background:#6D7784;
	padding-left: 10px;
	
	color:#000000 ;
	text-transform:uppercase;
}

.head1 {
	font-family: 'IstokWebRegular';

	padding:0px;
	background:#1f4a83;
	padding-left: 10px;
	color:#dcdfe3 ;

}

.tabelform td {
	font-family: 'IstokWebRegular';
	font-size:13px;
	color:#000000;
}

.tabpad td {
	padding-bottom : 5px;
	padding-right : 20px;
}

.center  {
	text-align : center ;
}

.cent {
	width : 400px;
	margin : 0 auto ;
}

.tabelform input {
	color:#000000;
	padding:5px;
}

.tabelform select {
	color:#000000;
	padding:5px;
}

.margin {
	margin-top : 20px;
}

/* LAYOUT LAPORAN */

.body {
	margin:0 auto;
	padding:0;
}

#wrapper {
	max-width: 960px;
	min-width: 960px;
	margin:0 auto;
	margin-bottom:25px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0px 7px 7px #000000;
	-webkit-box-shadow: 0px 7px 7px #000000;
	box-shadow: 0px 7px 7px #000000;
	margin-top: 20px;
}


.absensi {
	font-family: 'arial';
	font-size : 24px;
	margin-bottom : 20px;
	color :#1f4a83;
	font-weight: bold;
	text-align:center;
}


/* REGISTRASI PEGAWAI */
#cont-pegawai {
	max-width: 560px;
	min-width: 560px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
	background:#f9f8f6;
	padding:10px;
	
	
}

.f-r {
	margin-left:20px;
}

.hd-r {
	background:#ffce3d;
	padding:10px;
	text-align:center;
	margin:0;
	margin-bottom:10px;
	color:#f1f1ef;
}

.foto {
	width:150px;
	
	border:2px solid #92A0AD;
	margin-right: 10px;
}

.rp{
	width:500px;
	float:left;
	margin-right: 10px;
}
.rp2{
	width:400px;
	float:left;
}

.styled-button-5 {
	background-color:#ed8223;
	color:#fff;
	font-family:'Helvetica Neue',sans-serif;
	font-size:18px;
	line-height:30px;
	border-radius:20px;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	border:0;
	text-shadow:#C17C3A 0 -1px 0;
	width:120px;
	height:32px
}    


.exit-btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.exit-btn { 
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 25px 80px;
    display: inline-block;
    margin: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s; 
}

.exit-btn-3 {
    background-color: #282F8A;
    color: #fff;
    border-radius: 7px;
    box-shadow: 0 5px #202670;
    padding: 25px 60px 25px 90px;
}

.exit-btn-3:before {
    position: absolute;
    left: 0;
    width: 40%;
    font-size: 160%;
    line-height: 0.8;
    color: #fff;
    content: "\e163";
    font-family: 'Glyphicons Halflings';
}


.button {
    background-color: #1f4a83;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
border-radius: 12px;
font-family:'Helvetica Neue',sans-serif;
	font-size:14px;
	text-shadow:#1f4a83 0 -1px 0;
	
	
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}
input[type=text], select {
   
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
	width :300px;
}
textarea {
    width: 100%;
    height: 100px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

#footer-left	{
	color: #818181;
	 
	font-size: 11px;
	line-height: 11px;
	padding: 15px 0 15px 25px;
	margin: 0 20px;
	
	border-top: 1px solid #dbdbdb;
	border-bottom: 1px solid #dbdbdb;
	background: url(../images/icon_idlogo.png) no-repeat 0 12px;
	} 
#footer-left a	{
	color: #818181;
	text-decoration: none;
	}
#footer-left 	 a.selected,
#footer-left 	 a:hover	{
	color: #000;
	text-decoration: none;
	}
	.nav-divider	{
	
	float: left;
	
	}
	
	#footer-right	{
	color: #818181;
	 float: right;
	font-size: 11px;
	line-height: 11px;

	
	} 

input[type=text], select {
   
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
textarea {
    width: 100%;
    height: 100px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
	border: 2mm ;
    text-align: left;
    padding: 8px;
	 font-family: 'IstokWebRegular';
	 font-size:16px;
	 vertical-align:top;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #CCCCCC;
	 font-family: 'IstokWebRegular';
	 font-size:16px;
	 vertical-align:top;
 
}
.grid { width: 300px; height: auto; overflow: auto; }
.grid td.static { width: 100px; position: fixed; background-color: white; }
.grid td.dynamic { width: 100px; }
.grid td { border: solid 1px black; }
.grid table { width: 500px; }